@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import "palette";

$grey-100: #F5F5F5;

html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-weight: 300;
  background-color: $grey-100;
  overflow-x: hidden;
}

h1, h2 {
  font-weight: 300;
}

.home-container {
  .top {
    color: $grey-100;
    padding: 4em 0;
    h1 {
      font-size: 3em;
    }
  }
  .actions {
    margin-top: 3em;
    margin-bottom: 8em;

    .action {
      margin-top: 1em;
    }
  }
  .cookie-policy {
    text-align: center;

    .cookie-link {
      color: $primary-color-dark;
      cursor: pointer;
    }
    div:first-child {
      padding: 12px 24px;
      height: auto !important;
      line-height: normal !important;
    }
  }
}
.cookie-dialog {
  overflow: auto !important;
}
